<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parking.ParkingDAO">


    <select id="getParkingSum" resultType="int" parameterType="String">
       SELECT parkingLimit FROM T_MYONE WHERE ACCOUNTNO=#{ACCOUNTNO}
    </select>
    
    <select id="getParkingBal" resultType="int" parameterType="String">
       SELECT BALANCE FROM T_MYONE_POCKET WHERE POCKETCODE=4 AND ACCOUNTNO=#{ACCOUNTNO}
    </select>
    
    


    <select id="getParkingData" resultType="hashmap" parameterType="String">
        <!-- SELECT A.ACCOUNTNO AS ACCOUNTNO, A.AUTODIVAMOUNT AS AUTODIVAMOUNT, B.FROMPOCKET AS FROMPOCKET, B.PARKINGAMOUNT AS PARKINGAMOUNT
        FROM T_AUTO_DIVIDE A, T_AUTO_PARKING B
        WHERE A.TOPOCKET = B.FROMPOCKET AND A.ACCOUNTNO='${ACCOUNTNO}' -->
        SELECT A.ACCOUNTNO AS ACCOUNTNO, A.AUTODIVAMOUNT AS AUTODIVAMOUNT, B.FROMPOCKET AS FROMPOCKET, B.PARKINGAMOUNT AS PARKINGAMOUNT
        FROM T_AUTO_DIVIDE A, T_AUTO_PARKING B
        WHERE A.TOPOCKET = B.FROMPOCKET AND B.ID=#{id}
    </select>

</mapper>