<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="parking.ParkingDAO">


    <select id="getParkingSum" resultType="int" parameterType="String">
       SELECT parkingLimit FROM T_MYONE WHERE ACCOUNTNO=#{accountNo}
    </select>
    
    <select id="getParkingBal" resultType="int" parameterType="String">
       SELECT BALANCE FROM T_MYONE_POCKET WHERE POCKETCODE=4 AND ACCOUNTNO=#{accountNo}
    </select>
    
 
    
    
    <insert id="insertAutoParkingSet" parameterType="map">
        INSERT INTO T_AUTO_PARKING_SETTING VALUES(#{accountNo}, 
                    (SELECT PARKINGDATE FROM T_MYONE WHERE ACCOUNTNO=#{accountNo}) )
    
    </insert>
    
    
       


    <select id="getParkingData" resultType="kr.ac.kopo.parking.ParkingVO" parameterType="String">
        <!-- SELECT A.ACCOUNTNO AS ACCOUNTNO, A.AUTODIVAMOUNT AS AUTODIVAMOUNT, B.FROMPOCKET AS FROMPOCKET, B.PARKINGAMOUNT AS PARKINGAMOUNT
        FROM T_AUTO_DIVIDE A, T_AUTO_PARKING B
        WHERE A.TOPOCKET = B.FROMPOCKET AND A.ACCOUNTNO='${ACCOUNTNO}'  -->
        SELECT A.FROMPOCKET AS FROMPOCKET, A.PARKINGAMOUNT AS PARKINGAMOUNT, B.PARKINGCODE
        FROM T_AUTO_PARKING A,
             (SELECT MAX(PARKINGCODE) AS PARKINGCODE FROM T_AUTO_PARKING WHERE FROMPOCKET='고정비') B
        WHERE ACCOUNTNO=#{accountNo} AND FROMPOCKET='고정비'
        
        
    </select>
    
    <select id="getParkingData2" resultType="kr.ac.kopo.parking.ParkingVO" parameterType="String">
        SELECT A.FROMPOCKET AS FROMPOCKET, A.PARKINGAMOUNT AS PARKINGAMOUNT, B.PARKINGCODE
        FROM T_AUTO_PARKING A,
             (SELECT MAX(PARKINGCODE) AS PARKINGCODE FROM T_AUTO_PARKING WHERE FROMPOCKET='생활비') B
        WHERE ACCOUNTNO=#{accountNo} AND FROMPOCKET='생활비'
    </select>
    
    
    <select id="getParkingArea" resultType="map" parameterType="String">
        SELECT PARKINGCODE, SUM(PARKINGAMOUNT) AS PARKINGMONTHSUM
        FROM T_AUTO_PARKING WHERE ACCOUNTNO=#{accountNo}
        GROUP BY PARKINGCODE ORDER BY PARKINGCODE
    </select>
    
    <select id="getParkingArea2" resultType="map" parameterType="String">
        SELECT PARKINGCODE, FROMPOCKET, SUM(PARKINGAMOUNT) AS POCKET2SUM
        FROM T_AUTO_PARKING
        WHERE ACCOUNTNO=#{accountNo} AND FROMPOCKET='고정비'
        GROUP BY PARKINGCODE, FROMPOCKET ORDER BY PARKINGCODE
    </select>
    
    <select id="getParkingArea3" resultType="map" parameterType="String">
        SELECT PARKINGCODE, FROMPOCKET, SUM(PARKINGAMOUNT) AS POCKET2SUM
        FROM T_AUTO_PARKING
        WHERE ACCOUNTNO=#{accountNo} AND FROMPOCKET='생활비'
        GROUP BY PARKINGCODE, FROMPOCKET ORDER BY PARKINGCODE
    </select>

</mapper>