@charset "UTF-8";
@font-face{
    src : url("/resources/font/HanaB.ttf");
    font-family:"hanaBFont";
}
@font-face{
    src : url("/resources/font/Pretendard-ExtraBold.otf");
    font-family:"Pretendard-ExtraBold";
}

body{
   font-family:"hanaBFont" !important;	
   color:black !important;
}
p{
	font-family:"hanaBFont" !important;   
    color:black !important;	
}
div{
	font-family:"hanaBFont" !important;   
    color:black !important;	
}
span{
	font-family:"hanaBFont" !important;    
    color:black !important;
	
}

h2, h3, h4, h5, h6{
	font-family:"hanaBFont" !important;    
}

strong{
	font-family:"hanaBFont" !important;    
}